/* Error: Only 4 arguments allowed, but 5 were passed.
 *   ,--> src\App.scss
 * 109|       background-color: rgba(221, 159, 66, 0,12);
 *   |                         ^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *   '
 *   ,
 * 1 | @function rgba($red, $green, $blue, $alpha) {
 *   |           ================================= declaration
 *   '
 *   src\App.scss 109:25  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Only 4 arguments allowed, but 5 were passed.\a   \250c \2500 \2500 > src\\App.scss\a 109\2502        background-color: rgba(221, 159, 66, 0,12);\a   \2502                          ^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a   \2575 \a   \2577 \a 1 \2502  @function rgba($red, $green, $blue, $alpha) {\a   \2502            \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   src\\App.scss 109:25  root stylesheet";
}
