@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  font-family: Inter;
  color: black;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-items: start;
}

.App {
  display: flex;
  max-width: 1040px;
  margin: 0 auto;

  &__h1 {
    font-size: 52px;
    font-weight: 700;
    left: 0;
  }
}

.container {
  display: grid;
}

.EmptyplayersList {
  position: relative;
  height: 143px;
  @extend %commonStyles;

  &--empty {
    display: block;
    text-align: center;
    padding-top: 30px;
    font-size: 24px;
    font-weight: bold;
  }

  &__loadIcon {
    position: absolute;
    height: 24px;
    width: 24px;
    background-image: url(./orange.png);
    object-fit: contain;
    left: 50%;
    bottom: 30px;
    border-radius: 50%;

    &::after {
      position: absolute;
      content: '';
      width: 23px;
      height: 23px;
      background-color: white;
      border-radius: 50%;
      left: 1px;
      bottom: 1px;
    }
  }
}

.playersList {
  @extend %commonStyles;
  margin-bottom: 30px;
  
  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
  
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 72px;
    padding: 0 20px 0 85px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    background-color: white;
    height: 72px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;

    &-select {
      color: rgba(0, 0, 0, 0.4);
      border: white;
      border-radius: 20px;
    }
  }

  &__Player {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0;
    color: black;
    text-decoration: none;

    &--highlighted {
      background-color: rgba(221, 159, 66, 0.12);
      color: #DD9F42;
    }

    &::after {
      position: absolute;
      content: '';
      height: 1px;
      left: 18px;
      right: 18px;
      background-color: rgba(0, 0, 0, 0.1);
      top: 0;
    }

    &-ava-name {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
    }

    &-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin: 16px;
    }

    &-name {
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
    }

    &-score {
      font-style: 24px;
      font-weight: 700;
      line-height: 30px;
      margin-right: 30px;
    }
  }
}

.description {
  position: fixed;
  z-index: 24;
  height: 500px;
  width: 500px;
  background-color: red;
}

.rotate-center {
	-webkit-animation: rotate-center 1s ease-in-out both infinite;
	        animation: rotate-center 1s ease-in-out both infinite;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

%commonStyles {
  background-color: white;
  min-width: 1040px;
  color: rgba(0, 0, 0, 0.4);
  border-radius: 32px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.12);

  @media (max-width: 600px) {
    min-width: 360px;
  }
}
